* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.todo-grid, 
.todo-input-grid {
    width: 440px;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 120px 100px;
    gap: 10px;
    align-items: center;
}

.name-input {
    border: 1px solid darkgray;
    border-radius: 9px;
    background-color: rgb(243, 243, 243);
    color: black;
    padding: 7px 8px;
    font-weight: 500;
}

.date-picker {
    border-radius: 9px;
    padding: 7px 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid rgb(213, 213, 213);
    background-color: rgba(236, 236, 236, 0.6);
}

.add-button {
    border-radius: 11px;
    border: 2px solid rgb(14, 127, 67);
    background-color: rgba(29, 178, 103, 0.5);
    font-weight: 600;
    padding: 7px 8px;
    color: rgb(0, 92, 0);
    cursor: pointer;
}

.task-name {
    font-weight: 500;
}

.delete-button {
    border-radius: 10px;
    border: 2px dashed rgb(189, 26, 59);
    background-color: rgba(180, 24, 55, 0.2);
    font-weight: 600;
    padding: 4px 5px;
    color: rgb(138, 23, 23);
    cursor: pointer;
}